<div class="form-container">
  <div class="row">
    <div class="col-lg-3">
    <%= render 'option_product_form',product: @product,option_product: @option_product,url: admin_product_option_products_path %>
    </div>
  </div>
</div>