



<div class="form-container">
  <div class="row">
    <div class="col-lg-3">
    <%= render 'product_form',product: @product,categories: @categories,url: admin_product_path(@product) %>
    </div>
  </div>
</div>